/* Menu */
.menu {
    -fx-background-color: #333;
    -fx-padding: 0;
}

.menu-item {
    -fx-text-fill: white;
    -fx-padding: 10px 20px 10px 20px;
    -fx-background-radius: 0;
}

.menu-item:focused {
    -fx-background-color: #333;
}

.menu-item:hover {
    -fx-background-color: #1d63dc;
}

/* Board */
.board {
    -fx-alignment: center;
    -fx-padding: 10px;
}

.file-label {
    -fx-alignment: center;
    -fx-pref-width: 90;
    -fx-pref-height: 20;
}

.rank-label {
    -fx-alignment: center;
    -fx-pref-width: 20;
    -fx-pref-height: 90;
}

/* Tiles */
.tile {
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-background-size: cover;
}

.tile:hover {
    -fx-border-width: 5px;
    -fx-border-color: cornflowerblue;
}

.white-tile {
    -fx-background-color: #f0d9b5;
}

.black-tile {
    -fx-background-color: #b58863;
}

.last-move-tile {
    -fx-background-color: #fffdaf;
}

.possible-move-tile {
    -fx-background-color: #fdfa72;
}

/* Chess clock */
.chess-clock-box {
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.chess-clock {
    -fx-font-size: 20px;
}

/* Board history */
.board-history {
    -fx-alignment: center;
    -fx-padding: 5px 0 20px 0;
    -fx-spacing: 50px;
}

.board-history-button {
    -fx-alignment: center;
    -fx-padding: 10px 80px 10px 80px;
}

/* White pieces classes */
.white-pawn {
    -fx-background-image: url("pieces/WP.png");
}

.white-rook {
    -fx-background-image: url("pieces/WR.png");
}

.white-knight {
    -fx-background-image: url("pieces/WN.png");
}

.white-bishop {
    -fx-background-image: url("pieces/WB.png");
}

.white-queen {
    -fx-background-image: url("pieces/WQ.png");
}

.white-king {
    -fx-background-image: url("pieces/WK.png");
}

.black-pawn {
    -fx-background-image: url("pieces/BP.png");
}

/* Black pieces classes */
.black-rook {
    -fx-background-image: url("pieces/BR.png");
}

.black-knight {
    -fx-background-image: url("pieces/BN.png");
}

.black-bishop {
    -fx-background-image: url("pieces/BB.png");
}

.black-queen {
    -fx-background-image: url("pieces/BQ.png");
}

.black-king {
    -fx-background-image: url("pieces/BK.png");
}
