.tile {
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-background-size: cover;
}

.tile:hover {
    -fx-border-width: 5px;
    -fx-border-color: cornflowerblue;
}

.white-tile {
    -fx-background-color: #f0d9b5;
}

.black-tile {
    -fx-background-color: #b58863;
}

.possible-move-tile {
    -fx-background-color: yellow;
}

/* White pieces classes */

.white-pawn {
    -fx-background-image: url("../pieces/WP.gif");
}

.white-rook {
    -fx-background-image: url("../pieces/WR.gif");
}

.white-knight {
    -fx-background-image: url("../pieces/WN.gif");
}

.white-bishop {
    -fx-background-image: url("../pieces/WB.gif");
}

.white-queen {
    -fx-background-image: url("../pieces/WQ.gif");
}

.white-king {
    -fx-background-image: url("../pieces/WK.gif");
}

.black-pawn {
    -fx-background-image: url("../pieces/BP.gif");
}

.black-rook {
    -fx-background-image: url("../pieces/BR.gif");
}

.black-knight {
    -fx-background-image: url("../pieces/BN.gif");
}

.black-bishop {
    -fx-background-image: url("../pieces/BB.gif");
}

.black-queen {
    -fx-background-image: url("../pieces/BQ.gif");
}

.black-king {
    -fx-background-image: url("../pieces/BK.gif");
}